@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 49 100% 91%;
    --foreground: 184 35% 30%;
    --card: 184 35% 30%;
    --card-foreground: 49 100% 91%;
    --popover: 49 100% 91%;
    --popover-foreground: 184 35% 30%;
    --primary: 26 74% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 199 98% 69%;
    --secondary-foreground: 0 0% 0%;
    --muted: 184 35% 30%;
    --muted-foreground: 49 100% 91%;
    --accent: 177 53% 52%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 184 35% 30%;
    --input: 184 35% 30%;
    --ring: 26 74% 60%;
    --radius: 0.5rem;
  }
}
body {
  background: white;
  color: black;
}
